<header>
    <div class="header-left">
        <div class="greeting">Good Morning Joseph</div>
    </div>

    <div class="header-center">
        <div class="company-name">Nexa Office InfoSystems LLP</div>
    </div>

    <div class="header-right">
        <div class="dropdown">
            Personal Account <span class="material-icons" style="font-size: 16px;">expand_more</span>
        </div>
        <div class="actions">
            <button class="icon-btn">
                <span class="material-icons">notifications</span>
                <span class="notification-dot"></span>
            </button>
            <button class="icon-btn avatar">M</button>
        </div>
    </div>
</header>