<nav>
    <ul>
        <li class="active">
            <span class="material-icons">home</span>
        </li>
        <li>
            <span class="material-icons">dashboard</span>
        </li>
        <li>
            <span class="material-icons">description</span>
        </li>
        <li>
            <span class="material-icons">pie_chart</span>
        </li>
        <li>
            <span class="material-icons">credit_card</span>
        </li>
        <li>
            <span class="material-icons">calendar_today</span>
        </li>
        
        <div class="separator"></div>

        <li>
            <span class="material-icons">settings</span>
        </li>
        <li>
            <span class="material-icons">logout</span>
        </li>
    </ul>
</nav>